.flower {
  width: 300px;
}

#petals {
  transform: rotate(0deg);
  transform-origin: 140px 138px;
  transition: all 200ms linear;
}

.flower:hover #petals {
  transform: rotate(30deg);
}

.st0 {
  fill: #479A00;
}

.st1 {
  fill: #9E54FF;
  transition: all 200ms linear;
}

.flower:hover .st1 {
  fill: indigo;
}

.st2 {
  fill: #F1EB00;
}
